@charset "utf-8";
span.left {
position: absolute;
left: 0;
}
span.right {
position: absolute;
right: 0;
}
div.line {
position: relative;
text-align: center;
width: 100%;
}
body {
	margin:0;
	padding:0;
	width:100%;
	color:#959595;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
	background:url(/resources/images/main_bg.jpg) repeat-y center center;
}
html, .main {
	padding:0;
	margin:0;
	background:url(/resources/images/global_bg.jpg) repeat center center;
}
.main {
	background:no-repeat center top;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
.logo {
	padding:0;
	float:left;
	width:auto;
}
h1 {
	margin:0;
	padding:32px 0 32px 40px;
	color:#63c3e8;
	font:normal 48px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:-3px;
}
h1 a, h1 a:hover {
	color:#63c3e8;
	text-decoration:none;
}
h1 small {
	display:block;
	font:normal 12px/1.2em Arial, Helvetica, sans-serif;
	color:#8b8b8b;
	letter-spacing:normal;
}
h2 {
	font:normal 24px/1.5em Arial, Helvetica, sans-serif;
	padding:8px 0;
	margin:8px 0;
	color:#323a3f;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
p.spec {
	text-align:left;
	border-bottom:1px solid #efefef;
        padding-bottom: 100px; margin-top: 0px; margin-bottom: 0px;
        padding-right: 30px;
}
a {
	color:#62bee3;
	text-decoration:underline;
}
a.rm {
}
a.com {
	margin:0;
	padding:0;
	text-decoration:none;
	float:right;
}
a.com span {
	margin:0;
	padding:0 4px 0 0;
	font:bold 14px/1em Arial, Helvetica, sans-serif;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:974px;
	background:url(/resources/images/header_bg.jpg) repeat-x center top;
}
.menu_nav {
	float:right;
	margin:0;
	padding:74px 24px 0 0;
	height:56px;
	background:repeat-x center top;
}
.menu_nav ul {
	list-style:none;
}
.menu_nav ul li {
	margin:0 8px 0 0;
	padding:0;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:20px 24px 14px;
	color:#5f5d53;
	text-decoration:none;
	font-size:14px;
	background:url(/resources/images/menu.jpg) repeat-x left top;
	border-left:1px solid #ede4df;
	border-right:1px solid #ede4df;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	margin-top:-15px;
	padding:28px 24px 21px;
	color:#fff;
	background:#f00 url(/resources/images/menu_a.jpg) repeat-x left top;
}
.content_resize {
	margin:0 auto;
	padding:16px 0 24px;
	width:970px;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:left;
	width:670px;
}
.content .mainbar img {
	border:1px solid #d8dbdc;
}
.content .mainbar img.fl {
	margin:4px 16px 4px 0;
	float:left;
}
.content .mainbar .article {
	margin:0;
	padding:8px 24px 8px 40px;
}
.content .sidebar {
	padding:0;
	float:right;
	width:300px;
}
.content .sidebar .gadget {
	margin:0;
	padding:8px 16px 8px 40px;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0;
}
ul.sb_menu li a, ul.ex_menu li a {
	color:#FFFFFF;
	text-decoration:none;
	margin-left:-12px;
	padding-left:12px;
        padding-left: 20px;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#62bee3;
	font-weight:bold;
        
}
ul.sb_menu li a:hover {
	text-decoration:underline;
}
ul.ex_menu li a:hover {
	text-decoration:none;
}
.content p.pages {
	padding:0 24px 0 40px;
	font-size:11px;
	color:#959595;
	text-align:right;
}
.content p.pages span, .content p.pages a:hover {
	padding:5px 10px;
	color:#fff;
	background-color:#62bee3;
	border:1px solid #62bee3;
}
.content p.pages a {
	padding:5px 10px;
	color:#959595;
	background-color:#fff;
	border:1px solid #edebeb;
	text-decoration:none;
}
.content p.pages small {
	font-size:11px;
	float:left;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	background:url(/resources/images/fbg_bg.jpg) repeat center center;
}
.fbg_resize {
	margin:0 auto;
	width:890px;
	padding:48px 40px 24px;
	background:url(/resources/images/fbg_rbg.jpg) no-repeat center top;
	color:#fff;
}
.fbg ul li {
	padding:4px 0;
}
.fbg .c2 a, .fbg .c3 a {
	margin:0;
	padding:2px 4px;
	background-color:#fff;
	color:#62bee3;
	text-decoration:none;
}
.fbg ul li a {
	margin:0;
	padding:2px 4px;
	background:none;
	text-decoration:none;
}
.fbg ul li a:hover {
	text-decoration:underline;
	font-weight:normal;
}
.fbg h2 {
	color:#fff;
}
.fbg img {
	margin:0 4px 0 0;
	padding:3px;
	background-color:#fff;
	border:1px solid #78b2cb;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:266px;
}
.fbg .c2 {
	padding:0 16px;
	width:300px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:260px;
}
.footer {
	background:url(/resources/images/global_bg.jpg) repeat center center;
}
.footer_resize {
	margin:0 auto;
	padding:26px;
	width:922px;
	background:repeat-x center top;
}
.lf {
	float:left;
}
.rf {
	float:right;
}
.footer a {
	color:#62bee3;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	float:right;
}
p.workEnvironment {
    padding-left: 40px;
}
ul.workTask {
    padding-left: 60px;
}

#formsearch {
	margin:0;
	height:36px;
	padding:10px 28px 40px 0;
}
#formsearch span {
	display:block;
	margin:6px 0;
	padding:0;
	float:left;
	background:#fff url(/resources/images/search.gif) no-repeat top left;
}
#formsearch input.editbox_search {
	margin:0;
	padding:11px 6px 10px;
	float:left;
	width:181px;
	border:none;
	background:none;
	font:normal 12px/1.5em Arial, Helvetica, sans-serif;
	color:#a8acb2;
}
#formsearch input.button_search {
	margin:6px 0 0 0;
	padding:0;
	border:none;
	float:left;
}
